In [130]:
import pandas as pd

In [131]:
df = pd.read_csv('./data/Invoice_20201220.csv', sep='|')

In [132]:
df

,SITE_NAME,INVOICE_NAME,BEGIN,END,KWH_PERIOD,PERIOD_EUR
0,12345_GEO (0001BB),1300082549,01/01/2018,31/01/2018,2 447,"316,46"
1,12345_GEO (0001BB),1300082549,01/02/2018,28/02/2018,2 211,"286,82"
2,12345_GEO (0001BB),1300082549,01/03/2018,31/03/2018,2 450,"317,32"
3,12345_GEO (0001BB),1300082549,01/04/2018,30/04/2018,2 431,"315,00"
4,12345_GEO (0001BB),1300082549,01/05/2018,31/05/2018,2 574,"333,37"
...,...,...,...,...,...,...
51427,19767_GEO (0632KO),FV1/055100030,30/08/2019,31/12/2019,3 028,"397,18"
51428,19767_GEO (0632KO),055100058,01/01/2020,31/03/2020,2 163,"283,57"
51429,19767_GEO (0632KO),055100113,01/04/2020,30/06/2020,2 160,"312,55"
51430,19767_GEO (0632KO),055100168,01/07/2020,30/09/2020,2 230,"294,07"
51431,19883_GEO (1203KO),7220278453,27/09/2019,31/12/2019,4 745,"681,96"

In [133]:
df["SITE_NAME"] = df["SITE_NAME"].str[11:17]

In [134]:
df["SITE_NAME"]

0        0001BB
1        0001BB
2        0001BB
3        0001BB
4        0001BB
          ...
51427    0632KO
51428    0632KO
51429    0632KO
51430    0632KO
51431    1203KO
Name: SITE_NAME, Length: 51432, dtype: object

In [135]:
print(f"Il y a {df.shape[0]} features  et {df.shape[1]} colomnes dans cette dataframe.")

Il y a 51432 features  et 6 colomnes dans cette dataframe.

In [136]:
print(f"Voici les noms des colomnes :")
for i in df.columns:
    print(i)

Voici les noms des colomnes :
SITE_NAME
INVOICE_NAME
BEGIN
END
KWH_PERIOD
PERIOD_EUR

In [137]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51432 entries, 0 to 51431
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   SITE_NAME     51432 non-null  object
 1   INVOICE_NAME  51432 non-null  object
 2   BEGIN         51432 non-null  object
 3   END           51432 non-null  object
 4   KWH_PERIOD    51432 non-null  object
 5   PERIOD_EUR    51432 non-null  object
dtypes: object(6)
memory usage: 2.4+ MB

In [138]:
df.describe()

       SITE_NAME INVOICE_NAME       BEGIN         END KWH_PERIOD PERIOD_EUR
count      51432        51432       51432       51432      51432      51432
unique      2403         7494         324         340       7940      30560
top       1600BR   1300082549  01/01/2019  31/12/2019          0      52,85
freq         105         5830        2355        2375         59         35

In [139]:
df

      SITE_NAME   INVOICE_NAME       BEGIN         END KWH_PERIOD PERIOD_EUR
0        0001BB     1300082549  01/01/2018  31/01/2018      2 447     316,46
1        0001BB     1300082549  01/02/2018  28/02/2018      2 211     286,82
2        0001BB     1300082549  01/03/2018  31/03/2018      2 450     317,32
3        0001BB     1300082549  01/04/2018  30/04/2018      2 431     315,00
4        0001BB     1300082549  01/05/2018  31/05/2018      2 574     333,37
...         ...            ...         ...         ...        ...        ...
51427    0632KO  FV1/055100030  30/08/2019  31/12/2019      3 028     397,18
51428    0632KO      055100058  01/01/2020  31/03/2020      2 163     283,57
51429    0632KO      055100113  01/04/2020  30/06/2020      2 160     312,55
51430    0632KO      055100168  01/07/2020  30/09/2020      2 230     294,07
51431    1203KO     7220278453  27/09/2019  31/12/2019      4 745     681,96

[51432 rows x 6 columns]

## Nombre de valeurs manquantes

In [140]:
df.isna().sum()

SITE_NAME       0
INVOICE_NAME    0
BEGIN           0
END             0
KWH_PERIOD      0
PERIOD_EUR      0
dtype: int64

##  Suppression la colonne "INVOICE_NAME"

In [141]:
df = df.drop(columns = "INVOICE_NAME")

In [142]:
df

      SITE_NAME       BEGIN         END KWH_PERIOD PERIOD_EUR
0        0001BB  01/01/2018  31/01/2018      2 447     316,46
1        0001BB  01/02/2018  28/02/2018      2 211     286,82
2        0001BB  01/03/2018  31/03/2018      2 450     317,32
3        0001BB  01/04/2018  30/04/2018      2 431     315,00
4        0001BB  01/05/2018  31/05/2018      2 574     333,37
...         ...         ...         ...        ...        ...
51427    0632KO  30/08/2019  31/12/2019      3 028     397,18
51428    0632KO  01/01/2020  31/03/2020      2 163     283,57
51429    0632KO  01/04/2020  30/06/2020      2 160     312,55
51430    0632KO  01/07/2020  30/09/2020      2 230     294,07
51431    1203KO  27/09/2019  31/12/2019      4 745     681,96

[51432 rows x 5 columns]

## Ajout d'une colonne

In [143]:
## On transforme "BEGIN" et "END" en type date
df["BEGIN"] = pd.to_datetime(df["BEGIN"])
df["END"] = pd.to_datetime(df["END"])

In [144]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51432 entries, 0 to 51431
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   SITE_NAME   51432 non-null  object
 1   BEGIN       51432 non-null  datetime64[ns]
 2   END         51432 non-null  datetime64[ns]
 3   KWH_PERIOD  51432 non-null  object
 4   PERIOD_EUR  51432 non-null  object
dtypes: datetime64[ns](2), object(3)
memory usage: 2.0+ MB

In [146]:
df["DAYS_BEGIN_END"] = df["END"] - df["BEGIN"]

AttributeError: module 'datetime' has no attribute 'df'

In [128]:
df

      SITE_NAME      BEGIN        END KWH_PERIOD PERIOD_EUR DAYS_BEGIN_END
0        0001BB 2018-01-01 2018-01-31      2 447     316,46        30 days
1        0001BB 2018-01-02 2018-02-28      2 211     286,82        57 days
2        0001BB 2018-01-03 2018-03-31      2 450     317,32        87 days
3        0001BB 2018-01-04 2018-04-30      2 431     315,00       116 days
4        0001BB 2018-01-05 2018-05-31      2 574     333,37       146 days
...         ...        ...        ...        ...        ...            ...
51427    0632KO 2019-08-30 2019-12-31      3 028     397,18       123 days
51428    0632KO 2020-01-01 2020-03-31      2 163     283,57        90 days
51429    0632KO 2020-01-04 2020-06-30      2 160     312,55       178 days
51430    0632KO 2020-01-07 2020-09-30      2 230     294,07       267 days
51431    1203KO 2019-09-27 2019-12-31      4 745     681,96        95 days

[51432 rows x 6 columns]

In [129]:
#df["DAYS_BEGIN_END"] = pd.to_datetime(df["DAYS_BEGIN_END"])
# df["DAYS_BEGIN_END"] = df["DAYS_BEGIN_END"].values.astype('datetime64[D]')

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51432 entries, 0 to 51431
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SITE_NAME       51432 non-null  object
 1   BEGIN           51432 non-null  datetime64[ns]
 2   END             51432 non-null  datetime64[ns]
 3   KWH_PERIOD      51432 non-null  object
 4   PERIOD_EUR      51432 non-null  object
 5   DAYS_BEGIN_END  51432 non-null  timedelta64[ns]
dtypes: datetime64[ns](2), object(3), timedelta64[ns](1)
memory usage: 2.4+ MB

## Consommation journaliÃ¨re moyenne de la pÃ©riode

In [26]:
import datetime as dt

In [38]:
df["DAYS_BEGIN_END"].idxmin()

12105

In [39]:
df.iloc[12105]

SITE_NAME          13074_GEO (0195KO)
BEGIN             2019-08-29 00:00:00
END               2019-01-10 00:00:00
KWH_PERIOD                      1 603
PERIOD_EUR                     293,35
DAYS_BEGIN_END    -231 days +00:00:00
Name: 12105, dtype: object

In [67]:
#df["CONSO_DAY_MEAN"] = 
#df["KWH_PERIOD"]
#[df["DAYS_BEGIN_END"] > 30]

### 4) A partir de cette nouvelle colonne, crÃ©e une autre colonne qui nous donne la consommation journaliÃ¨re moyenne de la pÃ©riode.

In [ ]:
df[""] =

### 5) Merci d'ajouter Ã©galement une colonne qui donne, pour chaque antenne, le nombre de factures dont on dispose au total. Pas grave si l'information se rÃ©pÃ¨te Ã  chaque ligne pour une mÃªme antenne.

In [ ]:
df[""] =

### 6) Et information bonus si tu y arrives : les Ã©quipes aimeraient beaucoup avoir une liste de toutes les antennes avec, pour chaque antenne, le coefficient de variation de la consommation. Cela permettra d'avoir une idÃ©e, pour chaque antenne, de la dispersion de sa consommation d'Ã©nergie.

In [ ]:
def coefficient_of_variation(site_name):
    return df.loc[df['SITE_NAME_CLEANED'] == site_name]["PERIOD_EUR"].astype(float).std() / df.loc[df['SITE_NAME_CLEANED'] == site_name]["PERIOD_EUR"].astype(float).mean()
    
df["VARIATION_COEFFICIENT"] = df["SITE_NAME_CLEANED"].apply(calculate_nb_invoice_per_site_name)

### 7) Enfin, tu dois exporter ces deux fichiers obtenus pour pouvoir l'envoyer aux Ã©quipes de l'opÃ©rateur et leur demander si c'est bien cela qu'ils attendaient de toi.